{% extends 'base.html.twig' %}

{% block title %}Movie details{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Movie : {{ movie.title }}</h1>

    <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="float-end">
    <ul>
        <li>Id : {{ movie.id }}</li>
        <li>Country : {{ movie.country }}</li>
        <li>Released at: {{ movie.releasedAt|date('Y M d') }}</li>
        <li>Genres: {{ movie.genres|reduce((carry, genre) => carry == '' ? genre.name : carry ~ ', ' ~ genre.name) }}</li>
    </ul>
</div>
{% endblock %}
